.mnavbar_wrapper {
  --mask: linear-gradient(rgb(255 255 255), rgb(255 255 255 / 0.5));
  --stop1: 1%;
  --stop2: 90%;

  display: flex;
  gap: rem(16px);
  position: fixed;
  top: rem(16px);
  left: rem(16px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  width: rem(120px);
  height: rem(56px);
  overflow: hidden;

  &.open {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mnavbar_inner {
    width: 100%;
    display: flex;
    gap: rem(40px);
    padding: rem(16px);
    border-radius: rem(8px);
    background: transparentize($blue, 0.2);
    outline: rem(1px) solid $beige;
    outline-offset: rem(-4px);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 9;

    &_logo {
      align-items: center;
      gap: rem(12px);
      svg {
        width: rem(24px);
        height: auto !important;
        color: var(--beige);
      }

      &_text {
        font-size: rem(20px);
      }

      button {
        padding: 0;
      }
    }

    &.open {
      height: 100%;
      border-radius: rem(8px  );
      padding: rem(32px);
    }
  }
}

.mnavbar {
  &_button {
    width: fit-content !important;

    &_wrapper {
      align-items: center;
    }
  }
}

.menu {
  height: 100%;
  justify-content: space-between;
}
