:root {
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  //color
  --black: #1E1E1E;
  --white: #F0F1F5;
  --red: #EB201E;

  --gap-x: #{rem(24px)};
  --mgap-x: #{rem(16px)};

  --radius: #{rem(8px)};
  --radius-mobile: #{rem(16px)};
}
