body {
  background-color: var(--white);
}

// * {
//   cursor: none !important;
// }

.container {
  max-width: 100% !important;
  padding-left: calc(100vw / 24);
  padding-right: calc(100vw / 24);

  @include min-tablet {
    padding-left: calc(100vw / 16);
    padding-right: calc(100vw / 16);
  }
}

.stack {
  display: flex;
  flex-direction: column;
}

.reverseColor {
  * {
    color: $white !important;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.hidden {
  display: none;
}
