.navbar {
  padding: rem(16px) 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  &_logo {
    cursor: pointer;

    &__mobile {
      position: relative;
      width: rem(48px);
      height: auto;
      aspect-ratio: 1;
    }

    &__desktop {
      position: relative;
      height: rem(40px);
      aspect-ratio: 167/40;
    }
  }

  &_inner {
    justify-content: space-between;
    align-items: center;
  }
}
