.grid-display {
  position: absolute;
  top: 0;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(rem(120px), 1fr));
  // grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;

  .grid-mobile {
    display: none;
  }

  .plus {
    position: relative;
    // background-color: goldenrod !important;
    &::after {
      content: '+';
      font-size: rem(20px);
      color: $blue;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(50%) translateY(calc(50% + rem(1px)));

      @include min-tablet {
        font-size: rem(40px);
      }
    }
  }

  &.light {
    .display-box {
      border-right: rem(1px) solid transparentize($beige, 0.9);
      border-bottom: rem(1px) solid transparentize($beige, 0.9);
      &::after {
        color: var(--beige);
      }
    }
  }
}

.display-box {
  border-right: rem(1px) solid transparentize($blue, 0.9);
  border-bottom: rem(1px) solid transparentize($blue, 0.9);
  background-color: transparent;
  transition: 15s cubic-bezier(0, 1, 0, 1);

  &:hover {
    background-color: transparentize($blue, 0.5);
  }
}

.col--1 {
  position: relative;
}
